section{
    background: rgb(25,86,117);
    background: linear-gradient(
        135deg, 
        rgba(25,86,117, 1) 45%,
        rgba(97,186,206, 1) 55%)
}

.weather{
    width: 100%;
    max-width: 350px;
    height: 80vh;
    background: url(../bg3.jpg);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}



// Adding a dark dull shade to the Image

.weather::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.weather-app{
    z-index: 999;
}

.weather-app > *,
.result > * {
    color: #fff;
}

.result{
    background: rgba(8, 41, 66, 0.4);
}

.error{
    background: rgba(255, 0, 4, 0.3);
    padding: 1rem;
}